<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=10.100.111.137;Initial Catalog=PokerApp;User ID=pokerapp;Password=raw3s$a5retE;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>